# Folders
assets/
data/
docs/
history/
libs/
.idea/

# Files
.project
*.sqlite
*.db

# Project files, i.e. `.brackets` should NOT be excluded as they contain 
# compiler settings and other important information for Brackets editor.